@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Overpass:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background: #0c0d11;
    color: white;
  }
}

#__next {
  overflow: hidden;
}

.button-bg {
  border-radius: 20px;
  border: 1px solid;
  border-image-slice: 1;
  border-width: 1px;
}

.border-grad {
  border-image-source: linear-gradient(to left, #3913b8, #64ffda);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.underline-anim::after {
  background: none;
}

.underline-anim::after {
  position: absolute;
  content: "";
  top: 95%;
  left: 0%;
  width: 100%;
  height: 1px;
  background: #b04bff;
  border-radius: 2px;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s;
}

.underline-anim:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.active::after {
  position: absolute;
  content: "";
  top: 95%;
  left: 0%;
  width: 100%;
  height: 1px;
  background: #b04bff;
  border-radius: 2px;
  transform: scaleX(1);
}
